.hero-container{
    height: 40vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    padding-top: 100px; 
    background-image: url('/public/static-images/hero.webp');
    background-size:cover;
    background-repeat: no-repeat;
}

.hero-content{
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: 24px;
}

.hero-text-main{
    color: #fb4d4a;
}

.hero-text-sub{
    color:#9a9da2;
}

.explore-button{
    margin-top: 10px;
    border-radius: 20px;
    font-size: 10px;
    padding: 4px 8px;
    color: #fb4d4a;
    border: 1px solid #fb4d4a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 60px;
}

@media (min-width: 750px) {
    .hero-container{
        padding-left: 80px;
        padding-top: 100px; 
    }

    .hero-content{
        font-size: 32px;
    }
    .explore-button{
        font-size: 14px;
        padding: 8px 16px;
        width: 70px;
    }
    
}

@media (min-width: 1440px) {
    .hero-container{
        height: 90vh;
        justify-content: center;
        padding-left: 135px;
        padding-top: 0px;
       
    }
    .hero-content{
        font-size: 48px;
        max-width: 600px;
    }

    
    .explore-button{
        margin-top: 20px;
        font-size: 16px;
        padding: 8px 16px;
        width: 100px;
    }
    
}

@media (min-width: 1900px) {
    .hero-container{
        height: 70vh;
        justify-content: start;
        padding-top: 300px;
    }
    .hero-content{
        font-size: 80px;
    }
    .explore-button{
        margin-top: 20px;
        font-size: 16px;
        padding: 12px 18px;
        width: 200px;
    }
}
